/* This is a mobile first approach, there will be break points for desktop */

:root {
    --dark: rgb(10, 10, 10);
    --light-blue: rgb(61, 114, 184);
    --border-color: rgb(16, 16, 133);
    --very-light-blue: rgb(180, 184, 219);
    --sections-title-back: rgb(36, 36, 173);
    --section-title-txt: rgb(238, 237, 237);
}

*{
    color: var(--dark);
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.2rem;
    padding: 10px 0;
    background-color: var(--light-blue);
    border-color: var(--border-color);
    border-style: outset;
    border-width: 0px 0px 3px 0px;
    
}
/* this is the profile image positioned on the right of h1 for mobile */
.profile-img{
    background-image: url(../images/profile-placeholder.jpg);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
/* adding flex to the navigation links, fixing fonts and applying border*/
.header-nav-list li{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 0px 0px 3px 0px;
    background-color: var(--very-light-blue);
    padding: 3px 0;
}
/* removing the underline on the words for links */
.header-nav-list li a{
    text-decoration: none;
}

h2{
    font-size: 1.5rem;
    color: var(--section-title-txt);
    padding: 5px 0;
    background-color: var(--sections-title-back);
}

section article p{
    padding-top: 10px;

}
/* wwe need spacing at the bottom of the last paragraph. */
.last-paragraph{
    padding-bottom: 10px;
}

.work-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* This is the most recent project box which will be our big box */
.big-box{
    width: 100%;
    height: 250px;
    background-image: url(../images/p1.PNG);
    background-size: cover;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 3px 0px 3px 0px;
}

h3{
    font-size: 1.2rem;
}
/* this is the big box for the most recent project */
.big-project-description{
    display: flex;
    flex-direction: column;
    background-color: var(--very-light-blue);
    float: left; /* Makes the background color adjust to the text */
    margin-top: 150px;
    padding-right: 7px;
}

.project-description h3{
    padding-top: 2px;
    font-size: 1.2rem;
}

.project-description p{
    padding-bottom: 2px;
    font-size: 0.8rem;
}

/* this is our second box in the works section, it will be 50% the size of the first box*/
.small-box-1{
    width: 50%;
    height: 175px;
    background-image: url(../images/p2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 3px 3px 3px px;
}

.small-project-description{
    display: flex;
    flex-direction: column;
    background-color: var(--very-light-blue);
    float: left; /* Makes the background color adjust to the text */
    margin-top: 75px;
    padding-right: 7px;
}

.small-project-description h3{
    padding-top: 3px;
    font-size: 0.8rem;
}

.small-project-description p{
    padding-bottom: 2px;
    font-size: 0.6rem;
}

.small-box-2{
    width: 50%;
    height: 175px;
    background-image: url(../images/p3.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 3px 3px 3px px;
}

.small-box-3{
    width: 50%;
    height: 175px;
    background-image: url(../images/p4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 3px 3px 3px px;
}
/* The final box for the work section is this */
.small-box-4{
    width: 50%;
    height: 175px;
    background-image: url(../images/p5.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 3px 3px 3px px;
}

/* contact section */
.contact-content ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--very-light-blue);
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 0.8rem;
    background-color: var(--sections-title-back);
    
}
h4{
    color: var(--section-title-txt);
}

/* End of css file for the mobile version  */

/* break point for tablet */

@media screen and (min-width: 768px){
    header{
        display: block;
        background-color: var(--light-blue);
        border-color: var(--border-color);
        border-style: outset;
        border-width: 0px 0px 3px 0px;
    }
    h1{
        display:inline-block;
        padding-right: 65px;
        border: 0;
    }
    nav{
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-size: 20px;
    }
    .header-nav-list li{
        display: inline-block;
        margin-left: 25px;
        background-color: var(--light-blue);
        border: 0;
    }

}

/* breakpoint for desktop screen sizes */
@media screen and (min-width: 1024px){
    header{
        display: block;
        background-color: var(--light-blue);
        padding: 20px 0;
        border-color: var(--border-color);
        border-style: outset;
        border-width: 0px 0px 3px 0px;
    }
    h1{
        font-size: 2.7rem;
        display:inline-block;
        padding-right: 70px;
        border: 0;
        margin-left: 15px;
    }
    nav{
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-size: 20px;
    }
    .header-nav-list li{
        display: inline-block;
        margin-left: 25px;
        background-color: var(--light-blue);
        border: 0;
    }

    section{
        display: flex;
        flex-direction: row;
    }
    .left-column{
        font-size: 2.5rem;
        width: 18%;
        background-color: white;
        color: var(--dark);
        text-align: right;
        padding-right: 50px;
        padding-top: 25px;

        border-color: var(--border-color);
        border-style: outset;
        border-width: 0px 5px 0px 0px;

        margin-top: 50px;
    }
    .right-column{
        width: 100%;

        margin-top: 50px;
        margin-right: 80px;
    }

    .right-column p{
        width:92.5%;
        margin-right: 50px;
        margin-left: 50px;
        font-size: 1.2rem;
        
    }

    .big-box{
        width: 92.5%;
        height: 500px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .small-box{
        width: 45%;
        height: 250px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
    
    #contact{
        display: flex;
        flex-wrap: wrap;
        
    }
    #contact h2{
        width: 15%;
    }
    .contact-content{
        width: 70%;
    }
    .contact-content ul{
        background-color: white;
        font-size: 1.7rem;
        padding-top: 20px;;
    }




}




