/* This is a mobile first approach, there will be break points for desktop */

:root {
    --dark: rgb(10, 10, 10);
    --light-blue: rgb(61, 114, 184);
    --border-color: rgb(16, 16, 133);
    --very-light-blue: rgb(180, 184, 219);
    --sections-title-back: rgb(36, 36, 173);
    --section-title-txt: rgb(238, 237, 237);
}

*{
    color: var(--dark);
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.2rem;
    padding: 2% 0;
    background-color: var(--light-blue);
    border-color: var(--border-color);
    border-style: outset;
    border-width: 0px 0px 3px 0px;
    
}
/* this is the profile image positioned on the right of h1 for mobile */
.profile-img{
    background-image: url(../images/profile-placeholder.jpg);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
/* adding flex to the navigation links, fixing fonts and applying border*/
.header-nav-list li{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 0px 0px 3px 0px;
    background-color: var(--very-light-blue);
    padding: 1% 0;
}
/* removing the underline on the words for links */
.header-nav-list li a{
    text-decoration: none;
}

section h2{
    font-size: 1.5rem;
    color: var(--section-title-txt);
    padding: 5px 0;
    background-color: var(--sections-title-back);
}

section article p{
    padding-top: 10px;

}
/* wwe need spacing at the bottom of the last paragraph. */
.last-paragraph{
    padding-bottom: 10px;
}

.big-box{
    width: 100%;
    height: 200px;
    background-image: url(../images/p1.PNG);
    background-size: cover;
    border-color: var(--border-color);
    border-style: outset;
    border-width: 3px 0px 3px 0px;
}








